
.container-img img{
   border-radius: 50%;
   width: 50px;
   height: 50px;
   box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
   animation: fadeIn 2s ease-in-out ;
   margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}